*{
  margin:0;
  padding:0;
}
html{
  background-color:black;
}
body{
  background-color:black;
}
.year{
  margin-top:30vh;
  display: flex;
  flex-direction:row;
  overflow:scroll;
  margin-left: 3.5rem;
  background-color: black;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.month{
  margin:5px;
  display:flex;
  flex-direction:row;
}
.name{
  color: white;
}
.days{
  margin-top: 5px;
  position: absolute;
  left:10px;
  color: white;
  line-height: 1.6rem;
  background-color: black;
}
.day{
  height: 20px;
  width: 20px;
  margin:2px;
  border-radius:5px;
  border:1px solid white;
  background-color:grey;
  opacity: 0.5;
}
.done{
  height: 20px;
  width: 20px;
  margin:2px;
  border-radius:5px;
  border:1px solid yellow;
  background-color: orange;
}